@{
    ViewBag.Title = "Portfolio";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Portfolio</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />
</head>
<body> 
     <h2>Portfolio</h2>
    <div id="listDesigns">
        <div class="listItem">
            <h3 class="itemTitle">DesignTitle</h3>
            <img src="toinfintyandbeyond" alt="listItemThumb" />
        </div>
        <div class="listItem">
            <h3 class="itemTitle">DesignTitle</h3>
            <img src="toinfintyandbeyond" alt="listItemThumb" />
            <div id="listItem">
            <h3 class="itemTitle">DesignTitle</h3>
            <img src="toinfintyandbeyond" alt="listItemThumb" />
        </div>
            <div class="listItem">
            <h3 class="itemTitle">DesignTitle</h3>
            <img src="toinfintyandbeyond" alt="listItemThumb" />
        </div>
        </div>
    </div>
</body>
</html>
