@{
    ViewBag.Title = "Portfolio";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Portfolio</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />
</head>
<body> 
     @RenderPage("~/Views/Navigation/Navigation.cshtml")
     <h2>Portfolio</h2>
    <div id="listDesigns">
                        @ViewBag.projects
@foreach (var item in ViewBag.projects) { 
            <div class="listItem">
            <h3 class="itemTitle">@item.name</h3>
            <img src="toinfintyandbeyond" alt="listItemThumb" />
        </div>
}


    </div>
</body>
</html>
