@model Purplepen.comment
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<body>
    <form id="dotForm" name="dotForm" method="post">
        <input id="dotX" name="dotX" type="text" required disabled />
        <input id="dotY" name="dotY" type="text" required disabled />
        <input id="commentText" name="commentText" type="text" required />
        <input id="submitDot" name="submitDot" type="submit" value="Send" />
    </form>
</body>
</html>

