@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/screen.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("~/Views/Navigation/Navigation.cshtml")
  
    <div id="uploadedDesign">
        <div id="uploadTabs">
            <div class="uTab" id="tab1">1</div>
            <div class="uTab" id="tab2">2</div>
            <div class="uTab" id="tab3">3</div>
        </div>
        <form>
            <input type="submit" class="showhidedots" value="Show dots" />
        </form>
        <div id="design">
            <canvas>image here</canvas>
            <p id="designDescription"></p>
        </div>
    </div>
    <div id="comments">
        <div id="commentTabs">
            <div class="cTab" id="generalTab"><a>General</a></div>
            <div class="cTab" id="specificTabs"><a>Specific</a></div>
        </div>
        <div id="commentList">
            <div class="commentItem">
                <img src="#" alt="userImg" />
                <h4>Username</h4>
                <p>Comment</p>
            </div>
        </div>
        <form>
            <input type="text" required />
            <input type="submit" value="Send" />
        </form>
    </div>
</body>
</html>
