@{
    ViewBag.Title = "Ranking";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Ranking</title></head>
<body>
    <div id="colRight">
        <h2>Your Rank</h2>
        <img src="#" alt="rank image" />
        <p id="numberOfComments">200</p>
        <p id="plusPoints">600</p>
        <p>Ranking score</p>
        <p id="score">over 9000</p>
    </div>
    <div id="colCenter">
        <p>The three people above you</p>
        <div id="peopleAbove">
            <ul>
                <li>Abdel</li>
                <li>Youssef</li>
                <li>Mohammed</li>
            </ul>
        </div>
         <p>The three people below you</p>
        <div id="peopleBelow">
            <ul>
                <li>Pierre</li>
                <li>Jean</li>
                <li>Paul</li>
            </ul>
        </div>
    </div>
    <div id="colLeft">
        <p>rankings</p>
        <div id="ranking">
            <ul>
                <li>Abdel</li>
                <li>Mohammed</li>
                <li>Pierre</li>
                 <li>Abdel</li>
                <li>Mohammed</li>
                <li>Pierre</li>
                 <li>Abdel</li>
                <li>Mohammed</li>
                <li>Pierre</li>
                 <li>Abdel</li>
                <li>Mohammed</li>
                <li>Pierre</li>
                 <li>Abdel</li>
                <li>Mohammed</li>
                <li>Pierre</li>
                 <li>Abdel</li>
                <li>Mohammed</li>
                <li>Pierre</li>
            </ul>
        </div>
    </div>
</body>
</html>
