@{
    ViewBag.Title = "Inspiration";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inspiration</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />

</head>
<body>
    @RenderPage("~/Views/Navigation/Navigation.cshtml");
    <div id="wrapper">
        <form id="formSubmit">
            <input name="url" type="text" required />
            <input name="sumbit" type="button" value="Submit" />
        </form>
        <form id="formBrowse">
            <input name="url" type="text" required />
            <input name="browse" type="button" value="Browse" />
            <input name="upload" type="button" value="Upload" />
        </form>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
    </div>
</body>
</html>
