@{
    ViewBag.Title = "Beamer";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Beamer</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />
</head>
<body>

    <div id="uploadedDesign">
    <div id="design">
        <canvas>image here</canvas>
        <p id="designDescription"></p>
    </div>
</div>
<div id="comments">
    <div id="commentList">
        <div class="commentItem">
            <img src="#" alt="userImg" />
            <h4>Username</h4>
            <p>Comment</p>
        </div>
    </div>
</div>
</body>
</html>
