@font-face {
    font-family: Handwrite;
    src: url(../fonts/CaneletterScriptThin.otf);
}


body {
    font-family: Arial, helvetica;
    height: 100%;
}

.hide {
    visibility:hidden;
    width: 5px;
}

h1 {
    text-align: center;
    color: purple;
    font-family: 'Handwrite';
    font-size: 4em;
    font-weight: 100 !important;
    margin: 0px !important;
    margin-top: 1%;
}

h2 {
    color: white;
}

nav {
    display: block;
    margin: 1% auto;
    text-align: center;
}

    nav a {
        color: #FFC45B;
        font-weight: bold;
        margin-left: 1em;
        margin-right: 1em;
    }

        nav a:visited {
            color: #FFC45B;
            font-weight: bold;
        }

#wrapper {
    display: block;
    margin: 0 auto;
    width: 90%;
}

/*----------------------INDEX-------------------------------*/

#design {
    max-width: 70%;
    max-height: 80%;
}

#uploadedDesign {
    background-color: #9BE3FF;
    display: block;
    float: left;
}

#uploadTabs {
    background-color: #34CACC;
    display: block;
    float: left;
    height: 20px;
}

.uTab {
    width: 70px;
    height: 25px;
    display: block;
    float: left;
}


.flatBtn {
    color: white;
    border-radius: 4px;
    border: 1px solid #415b76;
    background-color: #415b76;
    display: inline-block;
    margin-left: 1em;
    padding: 5px;
    font-size: 0.75em;
    text-decoration:none;
}

#comments {
    float: right;
    width: 300px;
    display: block;
    border-radius: 6px;
    background-color:white;
    padding: 10px;
}

#commentTabs {
   
}

.cTab {
    
    display: block;
    float: left;
    vertical-align:middle;
     margin-right:1px;
     padding-left:0.5em;
     padding-right:0.5em;
     font-size:0.75em;
     color: white;
      border: solid 1px #edeaeb;
     background-color:#f2ab9e;
    display: block;
    float: left;
    height: 20px;
   padding-left:0.75em;
   padding-right:0.75em;
   border-radius:5px;
}

#commentList {
    display: block;
    float: left;
    width:350px;
}

.commentItem {
    width: 100% !important;
    display: block !important;
    float: left !important;
    color: black !important;
    font-size: 0.75em !important;
}

.submitComment {
     color: white !important;
    border-radius: 4px !important;
    border: 1px solid #5dade2;
    background-color: #5dade2;
    display: inline-block;
    margin-left: 1em;
    padding: 5px;
    font-size: 0.75em;
}

#dotForm {
     display: block;
    float: left;
    
}



/*----------------------HISTORY----------------------------*/

#listDesigns {
    display: block;
    background-color: whitesmoke;
    border: solid 1px purple;
    width: 90%;
    max-height: 90%;
    margin: 0 auto;
}

h3 {
    padding-left: 1em;
    color: mediumpurple!important;
}

.listItem {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: lightgreen;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 3px;
}

.itemTitle {
    display: inline-block;
    float: left;
    font-size: large;
    width: 70%;
}

.listItem img {
    display: inline-block;
    float: right;
    max-height: 50px;
}

/*-----------------------ADMIN-----------------------------*/

#usersList {
    display: block;
    float: left;
}

#kick {
    display: block;
    float: left;
}

/*------------------------INSPIRATION------------------------*/

.tile {
    background-color: black;
    min-width: 125px;
    min-height: 125px;
    max-height: 10%;
    max-width: 10%;
    margin: 5px;
    float: left;
    display: block;
}

/*--------------------BEAMER----------------------------*/

/*zie index*/

/*---------------------PORTFOLIO------------------------*/

/*zie history*/

/*----------------------UPLOAD----------------------------------*/
fieldset {
    border-color: black;
}

form {
    display: block;
    background-color: whitesmoke !important;
}

/*----------------------LOGIN-----------------------------------*/

#login {
    text-align: center;
    color: white;
}

/*----------------------RANKING----------------------------------*/

#colLeft {
}

#colRight {
}
