html {
    background: url(../img/bgGYM.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Arial, helvetica;
    height: 100%;
}

nav {
    display: block;
    margin: 1% auto;
    text-align: center;
}

nav a {
    color: #FFC45B;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

nav a:visited {
    color: #FFC45B;
    font-weight: bold;
}

#wrapper {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.label {
    margin-top:10px;
font-size:1.4em;
display:block;
}

.input {
font-size:1.6em;
padding:5px;
width:400px;
}

.form {
    float:left;
background-color: rgba(255,255,255,0.8);
width:420px;
margin:0px auto;
margin-right:12px;
padding:16px;
}

.fieldset {
font-size:2em;
}

.submit {
padding:8px;
font-size:1.4em;
}

.textarea {
width:400px;
display:block;
margin-bottom:8px;
}

select {
text-transform: none;
width: 300px;
font-size: 1.4em;
padding: 8px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Handwrite';
    font-size: 4em;
    font-weight: 100 !important;
    margin: 0px !important;
    margin-top: 1%;
}

h2 {
text-shadow:0px 0px 8px black;
color:white;
}

h3 {
padding:0px;
font-size:1.6em;
margin:0px;
margin-bottom:4px;
}

@font-face {
    font-family: Handwrite;
    src: url(../fonts/CaneletterScriptThin.otf);
}