@model Purplepen.Models.Comment
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<body>

    @foreach (var item in ViewBag.allcomments)
    {
        <div id="commentList">
            <div class="commentItem">
                <h4>@item.naam</h4>
                <p>@item.description</p>
            </div>
        </div>
    }

</body>
</html>
