@{
    ViewBag.Title = "Upload";
}
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />
</head>

<body>
    <h1>Upload your design</h1>
    <form>
        <input type="radio" name="choice" value="NewDesign" >New Design<br>
        <fieldset name="new">
            <legend>New Design</legend>
            <label>Title</label><input type="text" name="titleNew" required /><br />
            <label>Description</label><textarea name="descriptionNew" required></textarea><br />
        </fieldset>
        <input type="radio" name="choice" value="">Update my design:<br>
        <fieldset name="update">
            <legend>Update Design</legend>
            <select id="selectDesign" required>
                <option>First Design</option>
                <option>Second Design</option>
                <option>Third Design</option>
            </select><br />
            <label>Description</label><textarea name="descriptionUpdate" required></textarea>
        </fieldset>
        <input type="file" />
        <input type="submit" />
    </form>
</body>

</html>
