@{
    ViewBag.Title = "UploadView";
}
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <link href="~/Content/css/screen.css" rel="stylesheet" />
</head>

<body>
     @RenderPage("~/Views/Navigation/Navigation.cshtml")
    <h1>Upload your design</h1>
      @using (Html.BeginForm("ImageUpload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" })){
    <form method="post">
        <fieldset name="new">
            <legend>New Design</legend>
            <label>Title</label><input type="text" name="txtTitle" id="txtTitle" required /><br />
            <label>Description</label><textarea name="txtDescription" id="txtDescription" required></textarea><br />
        </fieldset>
        <input type="file" name="file" />
        <input type="submit" />
    </form><br /><br /><br />
      }

          @using (Html.BeginForm("ImageUpload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" })){
    <form method="post">
        <fieldset name="update">
            <legend>Update Design</legend>
            Which design are you updating?
            <select required name="project_id">
                @ViewBag.allProjects
@foreach (var item in ViewBag.allProjects) { 
    <option value=@item.project_id>@item.name</option>
}
            </select><br />
            <label>Description</label><textarea name="txtDescription" required></textarea>
        </fieldset>
        <input type="file" name="file" />
        <input type="submit" />
    </form>
      }

</body>

</html>
